
     .maintitle{
        text-align:center;
        color:white;
        background-color:black;
    }

     .label{
        text-align: center;
    }

     .content{
        text-align: center;
    }
    body {background-image: url("search.jpg");
    }
